<!doctype html>
<html>
<head>
	<title>HW Assignment: GET and POST Checker</title>
</head>
<body>
	{{{body}}}
	<form action="http://localhost:3500/get-data" method="get">
		<input type="submit" id="get_data" value="Get some data!!">
	</form>
	
	{{{getResult}}}
</body>
</html>
